body {
	display: flex;
	margin: auto;
	font-family: 'Roboto', Verdana, Arial, 'Comic Sans MS';
	background-color: whitesmoke;
	max-width: 1280px;
}

a {
	color:#311B92;
}

a:hover {
	color: #880E4F;
}

ul {
	padding-left: 20px;
}

strong {
	color: #8BC34A;
	font-weight: bold;
}

h1 {
	color: #212121;
	font-size:3em;
	font-weight: normal;
	margin-bottom: 0.5em;
}

h3 {
	color: black;
	font-size:1.5em;
	border-bottom: 3px #8BC34A solid;
	text-align: left;
	padding-left: 20px;
	margin-right: 20px;
}

h3 i {
	padding-right: 10px;
	color: #8BC34A;
}

h4 {
	color: #8BC34A;
	font-size:1.25em;
	background-color:#212121;
	padding: 10px 0px 10px 0px;
	text-align: center;
}

aside {
	background-color: #8BC34A;	
	width: 300px;
	min-width: 300px;
	max-width: 300px;
	display: flex;
	flex-direction: column;
}

.aside-blocphoto {
	text-align: center;
	margin: 25px 5px 5px 5px;
}

.aside-photo {
	margin: auto;
	border-radius: 100%;
}

.aside-headerresponsive {
	display: none;	
}

.aside-title {
	font-size:1.25em;
	background-color: #212121;
	padding: 10px 0px 10px 0px;
	text-align: center;
	width: 100%;
	border-bottom: none;
	color: #8BC34A;
}

.aside-propos, .aside-contacts, .aside-competences-list {
	text-align: left;
	font-size:1em;
	color: white;
	padding: 5px 25px 5px 25px;
}

.aside-bloccontact {
	color: white;
	word-wrap: break-word;
}

.aside-contact {
	display: flex;
	align-items: center;
	margin-top: 1em;
	line-height: 1.5em;
}

.aside-contact-icone {
	display: flex;	
	justify-content: center;
	min-width: 20px;
	max-width: 20px;
}

.aside-contact-lib {
	margin-left: 10px;
}

.aside-competences {
	flex: 2;
}

.aside-competences-list {
	line-height: 1.5em;
	list-style: none;
}

.aside-loisirs {
	font-size: 2.5em;
	color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 25px;
}

.aside-loisir-icon {
	border: 2px solid;
	border-radius: 100%;
	min-width: 50px;
	max-width: 50px;
	min-height: 50px;
	max-height: 50px;
	padding: 10px 10px 10px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-body {
	background-color: white;
	color: #202040;
	padding-left: 25px;
}

.header-target {
	color: #212121;
	font-size: 1.25em;
	margin-bottom: 3em;
}

.souligne {
	border-bottom: 3px solid #8BC34A;
}

.main-experiences, .main-formations, .main-recommandations {
	padding: 0px 20px 30px 0px
}

.main-experiences-exp-title {
	font-size: 1.2em;
	margin: 0;
	color: #212121;
	background-color: white;
	text-align: left;
	padding: 0;
}

.main-experiences-exp, .main-formations-formation {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
	color: #8BC34A;
}

.main-dates {
	width: 150px;
	padding: 0px 10px 0px 10px;
	color: black;
}

.main-explib { 
	min-width: 280px;
	flex:2;
	color: black;
}

.main-recommandations {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.main-recommandation {
	width: 200px;
}

@media all and (max-width: 650px) {
	body {
		display: flex;
		flex-direction: column;
		background-color:#212121;
		margin: auto;
	}
	
	aside {
		width: 100%;
		min-width: unset;
		max-width: unset;
	}

	.aside-headerresponsive {
		display: block;
		text-align: center;
		font-size: 1em;
	}
	
	.header-mobile {
		display: none;
	}

	.main-experiences-exp {
		display: flex;
		flex-wrap: wrap;
		padding: 3px 5px 3px 5px;
	}

	.main-dates {
		width: 100px;
		margin-bottom: 10px;
	}
}
 
@font-face {
    font-family: 'Roboto';
    src: url("Roboto/Roboto-Regular.ttf") format('truetype');   
}
